.product-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.product-form-fields {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}

.product-form-labels {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.addon-inputs {
  border: solid 1px #ccc;
}

.product-form-inputs {
  border-radius: 10px;
  border-color: #ccc;
  padding: 10px;
}

.error-container {
  position: relative;
  height: 20px;
}

.errors {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 20px;
}

.accepted-formats {
  font-size: 12px;
  color: red;
}

.preview-img-big-container {
  display: flex;
}

.preview-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 1px solid #ccc;
  width: 200px;
}

.preview-image-container #preview-image-upload {
  max-width: 100px;
  height: auto;
}

.loading-message {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.loading-message.visible {
  visibility: visible;
}
