.review-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-star-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stars {
  display: flex;
  cursor: pointer;
}

.star {
  margin: 3px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.star:hover {
  transform: scale(1.25);
}

.star.active {
  color: gold;
}

#star-numbers {
  text-align: center;
  border: none;
  padding: 6px;
  border-radius: 20px;
  margin-left: 10px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}
